body {
    font-family: "K2D", sans-serif;
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    position: sticky;
    background: white;
    top: 0;
    border-bottom: 3px solid #0004;
  }
  .navbar div {
    display: flex;
    gap: 30px;
  }
  .navbar * {
    cursor: pointer;
    margin: 0;
  }
  img{
    width: 100vw;
    height: auto;
  }