.con {
    border: 5px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 5px;
  }
  button {
    border: none;
    background-color: #11aabb;
    color: white;
    padding: 20px 20px;
    width: 300px;
  }